* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
   
}

nav {
    padding: 1rem 7rem;
    font-size: 1rem;
    position: sticky;
    top:0;
    background-color: white;
    z-index: 1;
}

.right-nav {
    float: right;
    position: relative;
    bottom: 0.8rem;
    height: 3rem;
    
}

nav .right-nav, nav .nav-logo, nav .nav {
    display: inline;
    margin: 0.7rem;
}

.nav-logo img {
    height: 2rem;
}

.tuitt-button {
    background-color: #c2195b;
    color: white;
    /* font-weight: bold; */
    font-size: 1rem;
    border-radius: 25px;
    padding: 0.9rem 1.3rem;
    border: none;
    margin-bottom: 2rem;
}

#bg-image {
    background-image: url(
        https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
    height: 350px;     
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.front-bg {
    background-color: rgba(0,0,0,0.5);
    height: 350px;
    color: white;
    text-align: right;
}

.title, .title-2 {
    font-family: 'Zilla Slab', sans-serif;
}

.container {
    position: relative;
    margin: 0 6rem 0 55%;
    padding: 0;  
}
.title {
    text-align: right;
    font-size: 2.9vw;
    line-height: 3.5rem;
    position: relative;
    top: -1rem;
}

.subtitle {
    right:7rem;
    font-weight: 100;
    margin-left: 25%;
    /* padding-top: 1rem; */
    color: lightgray;
    /* font-size: 1.4rem; */
    font-size: 1.5vw;
    text-indent: -3rem;
}

.apply-button {
    background-color: #c2195b;
    color: white;
    font-size: 1rem;
    border-radius: 25px;
    padding: 0.9rem 3.2rem;
    border: none;
    margin: 1rem 0 2rem;
}

.intro {
    text-align: center;
    margin: 0 15%;
}

.title-2 {
    text-align: center;
    padding: 5rem;
    font-size: 2rem;
    
}

.intro-description {
    text-align: left;
    margin-bottom: 5rem;
}

.pre-footer {
    background-color: #f7fbfb;
    text-align:center;
}

.prefooter-description {
    margin: 0 15%;
    text-align: center;
}

.book-button {
    background-color: #336589;
    color: white;
    /* font-weight: bold; */
    font-size: 1rem;
    border-radius: 25px;
    padding: 0.9rem 3.2rem;
    border: none;
    margin: 1rem 0 2rem;
}

footer {
    text-align: center;
}

footer span {
    padding: 0.5rem;
}


